.passwords {
  padding: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.passwords hr {
  margin-top: 2rem;
}

.react-responsive-modal-modal {
  width: 50% !important;
  height: 60vh !important;
  background-color: rgba(255, 255, 255, 0.329) !important;
  font-family: "Poppins", sans-serif !important;
  backdrop-filter: blur(10px) !important;
}

.modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

/* .modalButton {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--primary-bg);
  color: #eee;
  box-shadow: 0 5px 16px -10px var(--primary-bg);
  cursor: pointer;
} */
/* From uiverse.io by @mrhyddenn */
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 180px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: white;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: white;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.react-responsive-modal-modal h2 {
  border-bottom: 1px solid grey;
  padding: 0.5rem;
  margin-top: 0.6rem;
}

.form {
  padding: 0.5rem;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form__inputs label {
  margin: 0.3rem 0;
}

.form__inputs input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.6rem 0.5rem;
}

.form button {
  margin-top: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.8em 2em;
  cursor: pointer;
  background-color: #ff1f5a;
  color: #fff;
  box-shadow: 0 7px 10px -4px #ff1f5bc5;
}

.passwords__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -0.1em 0 0 #ff1f5a;
  transition-property: box-shadow, color;
  transition-duration: 0.2s, 0.4s;
}

.name:hover {
  color: #f8376b;
  box-shadow: inset 0 -0.25em 0 0 #ff1f5a;
}

.nopass {
  margin-top: 1rem;
}

.nopass p {
  margin-bottom: 1rem;
}
